* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2% 0;
  font-family: sans-serif;
}

h2 {
  margin: 2% auto;
  padding: 1%;
  text-align: center;
  width: 50%;
}
.container {
  margin: 2% auto;
  padding: 1%;
  width: 50%;
  display: block;
 /* visibility: hidden;*/
}

input {
  height: 4vh;
  border-radius: 10px;
  border: 1px solid black;  
  width: 100%;
  outline: none;
}

h3,h4,input,button,label {
  margin-bottom: 2%;
  display: block;
}

button {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1%;
} 

